body {
    margin: 5% 10% auto 10%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 375px;
    margin: auto;
}

#logo {
    width: 76px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070FF;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px;
    width: 375px;
    height: 604px;
    margin: auto;
}

#hello {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px;
    width: 375px;
    height: 604px;
    margin: auto;
}

#hello {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;

}

#aboutme {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-top: 20px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

div:nth-child(3) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
    padding-top: 20px;
}

div:last-child {
    display: flex;
    padding-top: 10px;

}

a {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    text-decoration: none;
}

i {
    color: #344563;
}