* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
li,
h1,
h2,
input,
a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  display: flex;
  align-items: center;
  padding-top: 96px;
}

header {
  padding: 30px 23px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 0 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar.active {
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.nav-menu {
  list-style: none;
  position: fixed;
  flex-direction: column;
  left: -100%;
  width: 100%;
  transition: 0.4s;
  background-color: rgb(23 44 235 / 75%);
  height: 100%;
  padding-left: 30px;
  padding-top: 100px;
  backdrop-filter: blur(6px);
}

.nav-menu.active {
  left: 0;
  top: 0;
}

.nav-link {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.hamburger.active .bar {
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  margin: auto;
  background-color: #e5e5e5;
}

.landing-page {
  background-image: url(./src/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  margin-bottom: 100px;
  background-color: white;
  width: 375px;
  height: 600px;
  padding: 16px;
}

#aboutme {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 20px;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.projects > p {
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.about-myself > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.landing-page > div > p,
.about-myself > div > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-top: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.landing-page ul,
.about-myself ul {
  list-style: none;
  display: flex;
  justify-items: start;
  margin-top: 1rem;
}

.work {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-gap: 15px;
}

ul > li {
  margin-right: 20px;
}

div > a > img {
  color: #48566e;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  height: 620px;
  width: 340px;
  border-radius: 5px;
  margin-left: 17px;
}

.projects > div:last-child {
  display: flex;
  flex-direction: column;
}

.card-picture {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.company > ul,
.tags > ul {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem 0;
}

.company > ul > li:first-child {
  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #151a23;
}

.company > ul > li:nth-child(2),
.company > ul > li:last-child {
  width: 88px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags > ul {
  list-style: none;
}

.skills > ul > li:first-child > ul > li {
  width: 303px;
  height: 35px;
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 1% 50%;
  padding-left: 45px;
  padding-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.skill-wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 45px;
}

.company > ul > li:first-child > ul > li:first-child {
  list-style: none;
  width: 55px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.about-myself > button {
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  width: 120px;
}

.pop-up-btn > button {
  width: 150px;
}

.tags > ul > li > button {
  align-items: center;
  padding: 4px 12px;
  background-color: #ebebff;
  border: none;
  color: #6070ff;
  border-radius: 8px;
}

.about-myself > button:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-projects {
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
}

.see-projects:hover {
  background-color: #6070ff;
  color: #fff;
}

.about-myself {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 35px;
  padding: 50px 50px 70px 25px;
  background: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding-bottom: 50px;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.skills > ul > li > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.fa-solid {
  margin-top: 17px;
}

.skills > ul > li:first-child > ul > li:first-child {
  background-image: url(./src/js.png);
}

.skills > ul > li:first-child > ul > li:nth-child(2) {
  background-image: url(./src/html.png);
}

.skills > ul > li:first-child > ul > li:last-child {
  background-image: url(./src/css.png);
}

.contact {
  background-color: #fff;
}

.white-container {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url(./src/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: 100%;
  width: 375px;
  height: 779px;
  border-top-left-radius: 50px;
}

.white-container > p:first-child {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 100px;
  color: #fff;
}

.white-container > p:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  left: 24px;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
}

.contact-form > input {
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 15px;
}

.name,
.email {
  height: 40px;
  padding-left: 20px;
}

.message {
  padding: 10px 15px 90px 15px;
  border-radius: 5px;
}

.get-it-touch {
  width: 140px;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 10px;
}

.get-it-touch:hover {
  background-color: #6070ff;
  color: #fff;
}

.get-it-touch:active {
  background: #2230d2;
  color: #fff;
}

hr {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 40%;
  margin: auto;
}

.error {
  text-align: center;
  font-size: larger;
  background-color: rgba(255, 3, 3, 0.9);
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

/* ------PopUp for Mobile --------- */

#pop-up.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  padding-top: 12%;
}

.work-content {
  display: grid;
  grid-gap: 50px;
  margin-bottom: 50px;
}

header.pop-up {
  filter: blur(4px);
}

.work-content.pop-up {
  filter: blur(4px);
}

body.pop-up {
  overflow-y: hidden;
}

#pop-up {
  overflow-y: scroll;
  display: none;
}

#pop-up .card {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 4%;
}

#pop-up i.close-pop-up {
  color: #67798e;
  mix-blend-mode: multiply;
  font-weight: 700;
  font-size: 20px;
  padding-left: 80%;
  padding-top: 0;
}

.popup-img {
  background-color: #efeff1;
  margin: auto;
}

.popup-img > img {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5%;
  width: 100%;
  object-fit: cover;
  margin: auto;

}

.pop-up-columns {
  margin-top: 1rem;
}

#pop-up .tags ul {
  display: flex;
  flex-wrap: wrap;
}

#pop-up .tags ul li {
  display: none;
}

#pop-up .tags ul li:nth-child(-n+3) {
  display: list-item;
}

.pop-up-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pop-up .fa-solid {
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    margin: auto;
  }

  header {
    width: 100%;
    animation: header-load 600ms ease-out;
  }

  @keyframes header-load {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo {
    height: 20px;
    margin-left: 120px;
  }

  .logo,
  nav > ul > li {
    transition: transform 90ms;
  }

  nav > ul > li {
    color: #344563;
    margin: 0 4rem 10px auto;
  }

  .logo:hover {
    animation: rotate360 1s;
  }

  nav > ul > li:hover {
    animation: scale 50ms forwards;
    border-radius: 5px;
  }

  @keyframes rotate360 {
    100% {
      transform: rotate(360deg) scale(1.5);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(2);
    }
  }

  .nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    margin-bottom: 70px;
    left: 0;
    background-color: #fff;
    width: auto;
    padding-top: 0;
  }

  .nav-link {
    color: #344563;
    font-size: 15px;
  }

  nav > ul > li > a {
    cursor: pointer;
    color: #344563;
  }

  .portfolio {
    width: 100%;
  }

  .landing-page {
    width: 100%;
    background-image: url(./src/Header-bg.png);
    height: 916px;
    background-size: contain;
  }

  .landing-page h1,
  .landing-page p {
    margin: 1px 20% 5px 23%;
  }

  .landing-page h1 {
    margin-top: 10%;
  }

  .landing-page ul {
    margin: 20px 20% 5px 23%;
  }

  .work {
    margin: auto;
  }

  .projects {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    transition: transform 1s;
    margin-bottom: 2rem;
  }

  .projects:hover {
    transform: scale(1.1);
    background-color: #becbe1;
  }

  .projects > div {
    height: 450px;
    width: 500px;
  }

  .projects > div:first-child > img {
    height: 400px;
    width: 500px;
    border-radius: 5%;
  }

  .projects > div:last-child {
    margin-left: 20px;
    margin-top: 30px;
  }

  .projects:nth-child(2),
  .projects:last-child {
    flex-direction: row-reverse;
  }

  .about-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    margin-top: 50px;
  }

  .about-myself {
    border-radius: 0;
    padding-left: 50px;
  }

  .skills {
    border-top-right-radius: 50px;
    padding-top: 10%;
  }

  .skills > ul {
    margin-left: 20px;
  }

  .skills > ul > li > ul {
    display: flex;
    flex-direction: row;
  }

  .skills > ul > li:first-child > ul > li {
    width: 100px;
    height: 90px;
    background-position: top;
    padding-top: 40px;
    padding-right: 15px;
  }

  .contact {
    background-color: #fff;
    width: 100%;
  }

  .background-container {
    background-image: url(./src/contact-form-background-shapes.png);
    width: 100%;
    background-color: #6070ff;
    border-top-left-radius: 50px;
  }

  .white-container {
    width: 575px;
    background-image: none;
    border-radius: 0;
    margin: auto;
  }

  .get-it-touch {
    margin: auto;
    margin-top: 20px;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
  }

  .get-it-touch:hover,
  .about-myself > button:hover {
    box-shadow: inset 140px 0 0 0 #6070ff;
    border: 1px solid #fff;
  }

  hr {
    display: none;
  }

  /* ---------POP Up Desktop ------------ */

  #pop-up .card {
    max-width: 90%;
  }

  body.pop-up {
    overflow-y: hidden;
  }

  #pop-up {
    overflow-y: scroll;
  }

  #pop-up i.close-pop-up {
    position: absolute;
    right: 10%;
    color: #67798e;
    mix-blend-mode: multiply;
    font-weight: 700;
    font-size: 20px;
  }

  .pop-up-columns {
    display: grid;
    grid-template-columns: 7fr 1fr;
  }

  #pop-up .tags > ul > li {
    display: inline-block;
    margin-bottom: 5px;
  }

  #pop-up .tags ul li:nth-child(-n+3) {
    display: block;
}
  .left-column {
    margin-right: 5px;
  }

  .pop-up-btn {
    display: flex;
    gap: 20px;
    height: 40px;
  }
}
